In [1]:
import pandas as pd

In [2]:
df= pd.read_csv("Job_details500 (2).csv")

In [4]:
x = ["Unnamed: 0", "location","emp_overall_rating", "emp_wl_bal_rating", "emp_salary_n_benefits_rating", "emp_comp_culture_rating", "emp_career_growth_rating", "emp_diversity_n_inclusion_rating", "emp_likely_to_recomm_rating"]

df = df.drop(x, axis=1)

In [5]:
y= ["hr_name", "estab_year"]
df = df.drop(y, axis=1)

### Company Class

In [105]:
df.head()

,designation,company_name,Number_of_Employees,job_description,skills,Years_of_Experience,Category,company_class,Department,transfrom_skill,transfrom_Department,class
0,Business Development Associate (Drive),MakeMyTrip,1000,Function: Sales and Business → Sales / Busines...,Business Development\nRevenue Management\nSales,4,Junior,Class1,Sales and Business,busi develop revenu manag sale,sale busi,1
1,Business Manager (Drive),MakeMyTrip,1000,Function: Sales and Business → Sales / Busines...,Business Development\nChannel Sales\nKey Accou...,6,Senior,Class1,Sales and Business,busi develop channel sale key account manag mi...,sale busi,1
2,Business Manager (Drive),MakeMyTrip,1000,Function: Sales and Business → Sales / Busines...,Business Development\nChannel Sales\nKey Accou...,6,Senior,Class1,Sales and Business,busi develop channel sale key account manag mi...,sale busi,1
3,Key Account Manager (Drive),MakeMyTrip,1000,Function: Sales and Business → Sales / Busines...,Corporate Sales\nKey Account Management\nProfi...,7,Senior,Class1,Sales and Business,corpor sale key account manag profit loss mana...,sale busi,1
4,Senior Business Development Manager (Drive),MakeMyTrip,1000,Function: Sales and Business → Sales / Busines...,Business Development\nCorporate Sales\nKey Acc...,5,Senior,Class1,Sales and Business,busi develop corpor sale key account manag mic...,sale busi,1

In [106]:
df["class"]=df["company_class"].replace({"Class1":1,"Class2":2,"Class3":3,"Class4":4})

In [107]:
df["class"].value_counts()

1    182
2    100
4     99
3     80
Name: class, dtype: int64

In [108]:
x=cv_3.fit_transform(df.transfrom_skill)
y=df["class"]

In [109]:
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.1, random_state=11)

In [110]:
lg.fit(x_train,y_train)
y_pred=lg.predict(x_test)
y_pred
from sklearn import metrics
print(metrics.accuracy_score(y_test,y_pred))

0.5957446808510638

In [111]:
models=[lg,dt,clf,rfcl]
for i in models:
    i.fit(x_train, y_train)
    print(i, metrics.accuracy_score(y_test, i.predict(x_test)))

LogisticRegression(multi_class='multinomial') 0.5957446808510638
DecisionTreeClassifier(random_state=15) 0.425531914893617
SVC() 0.425531914893617
RandomForestClassifier(n_estimators=40, random_state=15) 0.48936170212765956

In [112]:
model_3=LogisticRegression(multi_class='multinomial')
model_3.fit(x_train,y_train)

LogisticRegression(multi_class='multinomial')

In [113]:
y_pred=model_3.predict(x_test)
print(metrics.accuracy_score(y_test,y_pred))

0.5957446808510638

In [114]:
def pred_3(jk):
    pred = model_3.predict(cv_3.transform([transfrom_text(jk)]))
    if pred == 1:
        return "Class 1"
    elif pred==2:
        return "Class 2"
    elif pred==3:
        return "Class 3"
    else: 
        return "Class 4"

In [115]:
print(pred_3('Java,MariaDB,Spring Boot,J2EE,MySQL'))

Class 4

In [116]:
import pickle

In [117]:
pickle.dump(model_3,open('model_3.pkl','wb'))
pickle.dump(cv_3,open('vectorizer_3.pkl','wb'))