In [8]:
import pandas as pd

In [9]:
df= pd.read_csv("C:\\Users\\piyus.LAPTOP-7O04196B\\Downloads\\instahyre\\dataset\\final_table.csv")

In [10]:
df.head()

,Unnamed: 0,designation,company_name,Number_of_Employees,job_description,skills,Years_of_Experience,Category,company_class,Department
0,0,Business Development Associate (Drive),MakeMyTrip,1000,Function: Sales and Business → Sales / Busines...,Business Development\nRevenue Management\nSales,4,Junior,Class1,Sales and Business
1,1,Business Manager (Drive),MakeMyTrip,1000,Function: Sales and Business → Sales / Busines...,Business Development\nChannel Sales\nKey Accou...,6,Senior,Class1,Sales and Business
2,2,Business Manager (Drive),MakeMyTrip,1000,Function: Sales and Business → Sales / Busines...,Business Development\nChannel Sales\nKey Accou...,6,Senior,Class1,Sales and Business
3,3,Key Account Manager (Drive),MakeMyTrip,1000,Function: Sales and Business → Sales / Busines...,Corporate Sales\nKey Account Management\nProfi...,7,Senior,Class1,Sales and Business
4,4,Senior Business Development Manager (Drive),MakeMyTrip,1000,Function: Sales and Business → Sales / Busines...,Business Development\nCorporate Sales\nKey Acc...,5,Senior,Class1,Sales and Business

In [11]:
df["skills"] = df["skills"].str.lower()
v=("*").join(df["skills"])
v=("*").join(df["skills"])
v=v.replace("*",",")
skill_list = v.split(",")

In [12]:
skill_dict=dict()
for i in set(skill_list):
    skill_dict[i] = skill_list.count(i)

In [13]:
import nltk
from nltk.corpus import stopwords
from nltk.stem import PorterStemmer
pc=PorterStemmer()

In [14]:
def transfrom_text(x):
    y = nltk.word_tokenize(x.lower())
    z = []
    for i in y:
        if i.isalnum():
            z.append(i)
    y = z[:]
    z.clear()
    for i in y:
        if i not in stopwords.words('english'):
            z.append(i)
    y=z[:]
    z.clear()
    for i in y:
        z.append(pc.stem(i))
    return ' '.join(z)

In [15]:
df['transfrom_skill']=df.skills.map(transfrom_text)

In [16]:
def job_no(x):
    y=x.lower()
    ls=y.split(',')
    job_list=[]
    for i in ls:
        job=df[df.transfrom_skill.str.contains(i)].shape[0]
        job_list.append(job)

    return min(job_list)