In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv("C:\\Users\\piyus.LAPTOP-7O04196B\\Downloads\\instahyre\\dataset\\final_table.csv")
df.drop("Unnamed: 0",axis=1,inplace=True)
df.drop_duplicates(inplace=True)
df.head()

,designation,company_name,Number_of_Employees,job_description,skills,Years_of_Experience,Category,company_class,Department
0,Business Development Associate (Drive),MakeMyTrip,1000,Function: Sales and Business → Sales / Busines...,Business Development\nRevenue Management\nSales,4,Junior,Class1,Sales and Business
1,Business Manager (Drive),MakeMyTrip,1000,Function: Sales and Business → Sales / Busines...,Business Development\nChannel Sales\nKey Accou...,6,Senior,Class1,Sales and Business
3,Key Account Manager (Drive),MakeMyTrip,1000,Function: Sales and Business → Sales / Busines...,Corporate Sales\nKey Account Management\nProfi...,7,Senior,Class1,Sales and Business
4,Senior Business Development Manager (Drive),MakeMyTrip,1000,Function: Sales and Business → Sales / Busines...,Business Development\nCorporate Sales\nKey Acc...,5,Senior,Class1,Sales and Business
5,Core Java Developer (Drive),Publicis Sapient,1000,Function: Software Engineering → Backend Devel...,AWS\nAzure\nGoogle Cloud\nJava\nKafka\nKibana\...,6,Senior,Class1,Software Engineering

In [3]:
df=df[["skills","Department"]]

In [4]:
df.head()

                                              skills            Department
0    Business Development\nRevenue Management\nSales    Sales and Business
1  Business Development\nChannel Sales\nKey Accou...    Sales and Business
3  Corporate Sales\nKey Account Management\nProfi...    Sales and Business
4  Business Development\nCorporate Sales\nKey Acc...    Sales and Business
5  AWS\nAzure\nGoogle Cloud\nJava\nKafka\nKibana\...  Software Engineering

In [5]:
"""
from nltk.stem import PorterStemmer
pc=PorterStemmer()"""

'\nfrom nltk.stem import PorterStemmer\npc=PorterStemmer()'

In [6]:
import nltk
from nltk.corpus import stopwords
stopwords.words('english')
from nltk.stem import PorterStemmer
pc=PorterStemmer()

In [7]:
# tet normailzation 
def transfrom_text(x):
    y = nltk.word_tokenize(x.lower())
    z = []
    for i in y:
        if i.isalnum():
            z.append(i)
    y = z[:]
    z.clear()
    for i in y:
        if i not in stopwords.words('english'):
            z.append(i)
    y=z[:]
    z.clear()
    for i in y:
        z.append(pc.stem(i))
    return ' '.join(z)

In [8]:
df['transfrom_skill']=df.skills.map(transfrom_text)

In [9]:
df['transfrom_Department']=df.Department.map(transfrom_text)

In [10]:
df.head()

,skills,Department,transfrom_skill,transfrom_Department
0,Business Development\nRevenue Management\nSales,Sales and Business,busi develop revenu manag sale,sale busi
1,Business Development\nChannel Sales\nKey Accou...,Sales and Business,busi develop channel sale key account manag mi...,sale busi
3,Corporate Sales\nKey Account Management\nProfi...,Sales and Business,corpor sale key account manag profit loss mana...,sale busi
4,Business Development\nCorporate Sales\nKey Acc...,Sales and Business,busi develop corpor sale key account manag mic...,sale busi
5,AWS\nAzure\nGoogle Cloud\nJava\nKafka\nKibana\...,Software Engineering,aw azur googl cloud java kafka kibana monitor ...,softwar engin

In [11]:
"""df["Department"] = df["Department"].replace({"Software Engineering":1,"Sales and Business":2,"IT Operations and Support":3,"Marketing":4,"Technical Management":5,"Data Science and Analysis":6,"Operations":7,"Design and Creative":8,"Human Resources":9})"""

'df["Department"] = df["Department"].replace({"Software Engineering":1,"Sales and Business":2,"IT Operations and Support":3,"Marketing":4,"Technical Management":5,"Data Science and Analysis":6,"Operations":7,"Design and Creative":8,"Human Resources":9})'

In [12]:
df["Department"].value_counts()

Software Engineering         250
Sales and Business            64
IT Operations and Support     58
Marketing                     18
Technical Management          17
Data Science and Analysis     16
Operations                    15
Design and Creative            9
Human Resources                8
Name: Department, dtype: int64

In [13]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier, plot_tree
from sklearn import metrics

In [14]:
lg=LogisticRegression(multi_class='multinomial')
cv_2=CountVectorizer()
dt= DecisionTreeClassifier(criterion = 'gini', random_state=15)
rfcl= RandomForestClassifier(n_estimators=40, random_state=15)

In [15]:
#label encoding 
df["Department"] = df["Department"].replace({"Software Engineering":1,"Sales and Business":2,"IT Operations and Support":3,
                                             "Marketing":4, "Technical Management":5, "Data Science and Analysis":6, "Operations":7,
                                             "Design and Creative":8,"Human Resources":9})

In [16]:
x=cv_2.fit_transform(df.transfrom_skill)
y=df["Department"]

In [17]:
models=[lg,dt,rfcl]
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.30, random_state=40)

In [18]:
for i in models:
    i.fit(x_train, y_train)
    print(i, metrics.accuracy_score(y_test, i.predict(x_test)))

LogisticRegression(multi_class='multinomial') 0.8394160583941606
DecisionTreeClassifier(random_state=15) 0.8248175182481752
SVC() 0.7883211678832117
RandomForestClassifier(n_estimators=40, random_state=15) 0.8832116788321168

In [19]:
model_2=RandomForestClassifier(n_estimators=40, random_state=15)
model_2.fit(x_train,y_train)

RandomForestClassifier(n_estimators=40, random_state=15)

In [20]:
y_pred=model_2.predict(x_test)
print(metrics.accuracy_score(y_test,y_pred))

0.8832116788321168

In [21]:
def pred_2(x):
    pred = model_2.predict(cv_2.transform([transfrom_text(x)]))
    if pred==1:
        return "Software Engineering"
    elif pred==2:
        return "Sales and Business"
    elif pred==3: 
        return "Marketing"
    elif pred==4:
        return "Technical Management"
    elif pred==5:
        return "Specialist"
    elif pred==6:
        return "Operations"
    elif pred==7: 
        return "Design and Creative"
    elif pred==8:
        return "Human Resources"
    elif pred==9:
        return "Specialist"
    else:
        return "other"

In [22]:
# Example string input
inputt="Adobe Experience Manager (AEM)"
pred_2("Adobe Experience Manager (AEM)")

'Software Engineering'

In [23]:
import pickle

In [24]:
pickle.dump(model_2,open('model_2.pkl','wb'))
pickle.dump(cv_2,open('vectorizer_2.pkl','wb'))

In [25]:
# Print the transformed vector
#print(lb.inverse_transform(lg.predict(cv.transform([transfrom_text(inputt)]))))